Options -Indexes +FollowSymLinks

# valeurs recommandées
php_value post_max_size 10M
php_value upload_max_filesize 10M
php_value max_execution_time 60
php_value memory_limit 128M

RewriteEngine On
RewriteBase /revue_pcidssCopie/

 # exclude any paths that are not codeigniter-app related
RewriteCond %{REQUEST_URI} !^/server-status
RewriteCond %{REQUEST_URI} !^/server-info
RewriteCond %{REQUEST_URI} !^/docs

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

<IfModule mod_php5.c> 
    RewriteRule ^(.*)$ index.php/$1 [L]    
 </IfModule>    

# the following is for rewritting under FastCGI
<IfModule !mod_php5.c>    
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>